<html>
  <head>
    <title>Main Page</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h2 class="head1">{{title}} aaaaaaaaaaa</h2>
    <div class="header1">
      <a href="/">Home</a>
      <a href="/service">Service</a>
      <a href="/team">Service</a>
    </div>

  </body>
</html>